:root {}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    list-style: none;
    /* Обнуление дизайна списка */
    border: none;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    height: 100vh;
    background-image: url(/image/bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.header_logo {
    margin-top: 41px;
    width: 102px;
    height: 23px;
}



.header_title {
    font-size: 60px;
    color: #fff;
    letter-spacing: 5.71px;
    text-transform: uppercase;
    text-align: center;
}

.header_description {
    color: #fff;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
}

.scroll_button {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 11px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.34rem;
    margin-bottom: 71px;
    transition: color 0.5s ease;
}

.scroll_button:hover {
    color: #00A4E5;
}

.nav {
    margin-bottom: 58px;
}

.nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 940px;
    height: 65px;
    margin: 0 auto;
}

img.logo-nav {
    width: 80px;
    height: 18px;
}

.nav_links {
    display: flex;
    gap: 30px;
}

.nav_links li a {
    color: #48555B;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: color 0.5s ease;
}

.nav_links li a:hover {
    color: #00A4E5;
}

.about {
    margin-bottom: 118px;
}

.about-wrap {
    max-width: 940px;
    margin: 0 auto;
}

.about-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2 {
    text-transform: uppercase;
    color: #48555B;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.1rem;
    margin-bottom: 10px;
}

.decor-line {
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    margin-bottom: 53px;
}

.about-body {
    display: flex;
    justify-content: space-between;
}

.about-body-left {
    max-width: 405px;
    height: 253px;
}

.about-body-left-text1 {
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #48555B;
    line-height: 25px;
}

.Konstruct {
    color: #16ACE8;
}

.about-body-left-text2,
.services-head-block2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #48555B;
    letter-spacing: 1.19px;
    line-height: 20px;
}

.about-body-right {
    display: flex;
    gap: 20px;
}

.about-body-right-block1 {
    padding: 15px 0 0 15px;
    width: 140px;
    height: 200px;
    background-image: url(/image/plan.png);
    background-size: cover;
}

.about-body-right-block2 {
    padding: 15px 0 0 15px;
    width: 140px;
    height: 200px;
    background-image: url(/image/manage.png);
    background-size: cover;
}

.about-body-right-block3 {
    padding: 15px 0 0 15px;
    width: 140px;
    height: 200px;
    background-image: url(/image/deliver.png);
    background-size: cover;
}

.about-body-right>div {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}

.services {
    margin-bottom: 234px;
}

.services-wrap {
    max-width: 940px;
    margin: 0 auto;
}

.services-head {
    margin-bottom: 76px;
    display: flex;
    justify-content: space-between;
}

.services-head-block2 {
    max-width: 405px;
}

.button {
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    background-color: #00A4E5;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.1em;
}

.services-body {
    display: flex;
    justify-content: space-between;
    gap: 28px;
}

.services-body-block {
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    padding: 38px 23px 38px 23px;
}

.services-body-block>img {
    width: 68px;
    height: 75px;
    margin-bottom: 25px;
}

.services-body-block>h3 {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #48555B;
    margin-bottom: 13px;
}

.services-text {
    color: #48555B;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1em;
}

.get-in-touch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(/image/get-in-touch.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.get-in-touch-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.1em;
    color: #48555B;
    margin-bottom: 35px;
}

.get-in-touch>.button {
    margin-bottom: 232px;
}

.form {
    background-color: #171819;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.1em;
    color: #fff;
    padding-right: 86px;
}

.email-form-input {
    width: 150px;
    height: 40px;
    padding-left: 15px;
}

footer {
    background-color: #141A20;
}

.footer-wrap-content {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 42px 0;
}

.footer-col1 {}

.footer-head {
    color: #fff;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
}

.footer-logo {
    margin-bottom: 15px;
    width: 102px;
    height: 23px;
}

.footer-text {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.1em;
    font-weight: 400;
    font-size: 11px;
    line-height: 19px;
}

.footer-col2 {}

.footer-col2-container-links {
    display: flex;
    gap: 34px;
}

.footer-col2-wrap-links {}

.footer-link {
    color: #fff;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.01em;
    line-height: 25px;
    transition: color 0.5s ease;
}

.footer-link:hover {
    color: #00A4E5;
}

.footer-col3 {}

.footer-col4 {
    display: flex;
    gap: 24px;
}

.social-icon {
    width: 15px;
    height: 15px;
}

.footer-down {}

header,
.nav,
.about,
.services,
.get-in-touch,
.form,
footer {
    padding: 0 20px;
}

@media (max-width: 960px) {
    .about-body {
        flex-direction: column;
    }

    .about-body-left,
    .about-body-right {
        margin: 0 auto;
    }
    .footer-wrap-content {
        flex-direction: column;
    }
    .footer-col2-wrap-links {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 680px) {
.form {
        flex-direction: column;
       height: inherit;
        padding: 20px;
    }
  .form-text {
    padding: inherit;
    margin: 0 auto;
}
}
@media (max-width: 560px) {
    .logo-nav {
        display: none;
    }

    .nav_links {
        gap: 15px;
    }

    nav {
        margin: 0 auto;
    }

    .about-body-left {
        margin-bottom: 50px;
        height: inherit;
    }

    .about-body-right {
        flex-direction: column;
    }

    .about-body-right>div {
        width: 280px;
        height: 400px;
    }

    .nav_links li a {
        font-size: 11px;
    }

    .services-head {
        flex-direction: column;
    }

    .services-head-block2 {
        margin-bottom: 50px;
    }

    .services-body {
        flex-direction: column;
    }

    .email-form-input {
        margin-bottom: 20px;
    }

    .email-form {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 360px) {}